.note {
	font-weight: bold;
}

body {
	background-color: cornsilk;
}

.bold {
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.italic {
	font-style: italic;
}

.overline {
	text-decoration: line-through;
}

h2, h3 {
	text-align: center;
	border: 2px solid black;
	color: mediumblue;
}

p {
	color: dimgray;
}