* {
	margin: 0px;
}

body {
	display: flex;
	width: 1920px;
	height: 723px;
	font-family: sans-serif;
	background-color: #f9f9f9;
}



.img {
	margin-bottom: 25px;
	background-color: #ffffff;
	width: 263px;
}

.container {
	width: 1139px;
	height: 522px;
	display: flex;
	align-items: center;
	justify-content: center;
}

h1 {
	align-items: center;
	justify-content: start;
	font-size: 36px;
	font-weight: 400;
	color: #000000;
}

.tool {
	text-align: center;
}

.text {
	font-size: 16px;
	font-weight: 300;
	margin-bottom: 25px;
}

.price {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 25px;
}

.button {
	padding: 23px 75px 23px 74px;
	color: #23bac1;
	font-size: 13px;
	font-weight: 700;
	text-transform: uppercase;
	border: 1px solid #23bac1;
}